/* ================================== */
/* commun.css                */
/* (À charger sur TOUTES les pages)   */
/* ================================== */

/* --- Polices (Nettoyées, une seule fois) --- */
@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Light.ttf') format('truetype');
  font-weight: 300;
  /* Light */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Regular.ttf') format('truetype');
  font-weight: 400;
  /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Medium.ttf') format('truetype');
  font-weight: 500;
  /* Medium */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Bold.ttf') format('truetype');
  font-weight: 700;
  /* Bold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  /* ExtraBold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Black.ttf') format('truetype');
  font-weight: 900;
  /* Black */
  font-style: normal;
  font-display: swap;
}


/* --- Base globale / Reset --- */
:root {
  --ink: #1C2129;
  --bg: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* --- Hiérarchie typographique --- */
h1 {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 141px;
  color: #FFFFFF;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  margin: .6em 0;
  line-height: 1.25;
}

h3 {
  font-weight: 500;
  margin: .7em 0;
  line-height: 1.3;
}

h4 {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 73px;
  color: #FFFFFF;
  text-transform: uppercase;
}

p,
li,
span {
  font-weight: 400;
}

/* --- Liens & boutons --- */
button,
.btn,
a.btn {
  font-family: 'Heebo';
  font-weight: 500;
  cursor: pointer;
}